.body{
	margin: 0;
}
.nav{
	/*height: 50px;*/
	/*width: 100%;*/
	background-color: #000080;
	
	overflow: hidden;

}
.nav a {
	
	color: #FFFFFF;
	text-align: center;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	float:left;
	font-size: 18px;
}
.nav a.active{
	background-color: #F39F19;
	color: #FFFFFF;
}

.nav-right {
	float: right;
}
.nav a:hover{
	background-color:#F39F19;
	color: #FFFFFF;
}